<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyber.seyun.sppedjapan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <activity
            android:name=".Intro"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <receiver android:name=".Receiver.ScreenReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.SCREEN_ON"/>
                    <action android:name="android.intent.action.SCREEN_OFF"/>
                </intent-filter>
            </receiver>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Activity.GameMenu"
            android:label="@string/title_activity_game_menu" />
        <activity
            android:name=".Activity.GameStart"
            android:label="@string/title_activity_game_start" />
        <activity
            android:name=".Activity.GameResultView"
            android:label="@string/title_activity_game_result_view" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".Activity.WordActivity"
            android:label="@string/title_activity_word" />
        <activity
            android:name=".Activity.FirstSettingActivity"
            android:label="@string/title_activity_first_setting" />
        <activity android:name=".Activity.DicActivity" />
        <activity android:name=".Activity.PuzzleActivity" />
        <activity android:name=".Activity.ChineseActivity" />
        <activity android:name=".Activity.PuzzleMenuActivity"></activity>
    </application>

</manifest>